body{
    background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/01389d3a-71fa-45a7-826e-557bceda2d66/dlonfv5-9ce5db1a-ca1a-4f4e-a21c-058f803a6d66.png/v1/fill/w_1032,h_774,q_70,strp/claw_arcade_by_en_to_dlonfv5-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTUwMCIsInBhdGgiOiIvZi8wMTM4OWQzYS03MWZhLTQ1YTctODI2ZS01NTdiY2VkYTJkNjYvZGxvbmZ2NS05Y2U1ZGIxYS1jYTFhLTRmNGUtYTIxYy0wNThmODAzYTZkNjYucG5nIiwid2lkdGgiOiI8PTIwMDAifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.e8NIWZiLQoTCWuc6P8-CJ1CcuXEZFFqhU0-Z1FcIc8w");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    overflow: 100px;
}


#hi{
    border: solid;
    border-radius: 10px;
    margin: 2.5%;
    outline-offset: 0.5rem;
    text-align: start;
    font-family: Bookman, URW Bookman L, serif;
    padding: 1%;
    z-index: 9;
    transition: none;
    position: absolute;    
    margin: 0;  
    background-color: rgba(224, 19, 255, 0.25);
    top: 200px;
    left: 480px;
}

#hiheader{
  padding: 10px;
  cursor: move;
  z-index: 10;
}

.up{
    outline: 0.5rem solid rgb(202, 147, 220);
    box-shadow: 0 0 0 1.3rem rgb(150, 188, 236);
    background-color: #dca3ff;
    background-color: rgba(81, 0, 196, 0.25); color: #fff;
    border-radius: 10px;
    margin: 2.5%;
    outline-offset: 0.5rem;
    text-align: start;
    font-family: Bookman, URW Bookman L, serif;
    padding: 1%;
    align-items: center;
}

.closebutton{
    width: 50px;
    height: 20px;
    background-color: #9f42f0;
    border-radius: 20px;
    border: solid 5px rgba(119, 19, 190, 0.25);
    text-align: center;
}

#hiopen{
    margin-left: 2.5%;
    text-align: left;
}

#notes{
    border: solid;
    border-radius: 10px;
    outline-offset: 0.5rem;
    text-align: center;
    font-family: Bookman, URW Bookman L, serif;
    padding: 1%;
    background-color: rgba(23, 19, 255, 0.25);
    width: 300px;
}

#container{
    background: white;
    padding: 20px;
    margin-top: 60px;
    border-radius: 15px;
    box-shadow: 0 4px 15px black(0, 0, 0, 0.2);
    width: 85%;
    max-width: 400px;
    text-align: center;
}

#text{
    width: 280px;
    height: 45px;
    border-radius: 10px;
    border: 2.5px solid rgb(0, 0, 0);
    background-color: #aa75cb;
    resize: none;
    outline: none;
    font-size: 15px;
    color: black;
}

#text::placeholder{
    color: black;
}

#button button{
    margin-top: 10px;
    padding: 10px 15px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 10px;
    background-color: #813aad;
    transition: 0.3s;
    border: none;
    font-family: Bookman, URW Bookman L, serif;
    font-size: 15px;
}

#list{
    margin-top: 15px;
    max-height: 200px;
    overflow-y: auto;
}

#writeheader{
  padding: 10px;
  cursor: move;
  z-index: 10;
}

#write{
    position: absolute;
    top: 190px;
    left: 550px;
    border-radius: 10px;
    padding: 1%;
    z-index: 9;
    display: none;
}

.closebutton2{
    width: 50px;
    height: 20px;
    background-color: #8a36d2;
    border-radius: 20px;
    border: solid 5px rgba(119, 19, 190, 0.25);
    text-align: center;
    
}

#writeopen{
    margin-left: 25px;
}

.delete{
    color: black;
    background-color: #813aad;
    padding: 5px 8px;
    border-radius: 6px;
}

#drawopen{
    height: 70px;
    position: absolute;
    top: 480px;
    left: 18px;
    border-radius: 10px;
    padding: 1%;
    text-align: center;
}

#board{
    border: 1px solid blueviolet;
    background-color: beige;
    cursor: crosshair;
}

#tools{
    margin: 10px;
    top: 5px;
}

#drawthingy{
    background-color: rgba(224, 19, 255, 0.25);
    height: 600px;
    width: 500px;
    align-items: center;
    text-align: center;
    border: solid;
    border-radius: 10px;
    position: absolute;
    top: 200px;
    left: 480px;
    border-radius: 10px;
    padding: 1%;
    z-index: 9;
    display: none;
}

#drawheader{
  padding: 10px;
  cursor: move;
  z-index: 10;
}


.closebutton3{
    width: 50px;
    height: 20px;
    background-color: #8a36d2;
    border-radius: 20px;
    border: solid 5px rgba(119, 19, 190, 0.25);
    text-align: center;
    
}

.controls button{
    margin-top: 5px;
    padding: 5px 15px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 10px;
    background-color: #813aad;
    transition: 0.3s;
    border: none;
    font-family: Bookman, URW Bookman L, serif;
    font-size: 15px;
}

#musicthingy{
    border: solid;
    border-radius: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgba(23, 19, 255, 0.25);
    height: auto;
    width: 280px;
    align-items: center;
    text-align: center;
    border-radius: 20px;
    position: absolute;
    top: 200px;
    left: 480px;
    padding: 1% 1% 20px 1%;   
    z-index: 9;
    display: none;
}

#progressbar{
    border: solid;
    margin: 5px;
    height: 10px;
}

#progress{
    height: 100%;
    width: 0%;
    background-color: rgb(148, 43, 124);
}

#murkrow{
    height: 80px;
    position: absolute;
    top: 178px;
    left: 166px;
    border-radius: 10px;
    padding: 1%;
    text-align: center;
}

.closebutton4{
    width: 50px;
    height: 20px;
    background-color: #8a36d2;
    border-radius: 20px;
    border: solid 5px rgba(119, 19, 190, 0.25);
    text-align: center;
}

#musicheader{
  cursor: move;
  z-index: 10;
}

.volume{
    input[type=range]{
        display: none;
    }
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: row;

    .icon{
        font-size: 2rem;
    }

    .bar-box{
        user-select: none;
        touch-action: none;
        padding: 10px 15px;
        opacity: 0.7;
        transition: opacity .2s;
        cursor: pointer;
    }

    .bar-box:hover{
        opacity: 1.2;
    }
    
    .bar{
    background-color: gray;
    height: 10px;
    width: 120px;
    border-radius: 15px;
    overflow: hidden;
    pointer-events: none;
    }

    .bar-fill{
        background-color: white;
        width: 0%;
        height: 100%;
        background-clip: border-box;
        pointer-events: none;
    }
}

#cookiethingy{
    position: absolute;
    top: 200px;
    left: 480px;
    background-color: rgba(224, 19, 255, 0.25);
    border: solid;
    border-radius: 10px;
    width: 400px;
    height: 315px;
    padding: 20px;
    display: none;
}
.base{
    font-family:'Times New Roman', Times, serif;
    text-align: center;
    align-items: center;
}

#cookieopen{
    margin-top: 10px;
    padding: 10px 15px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 10px;
    background-color: #813aad;
    transition: 0.3s;
    border: none;
    font-family: Bookman, URW Bookman L, serif;
    font-size: 15px;
}

#maomao{
    height: 80px;
    position: absolute;
    top: 339px;
    left: 140px;
    border-radius: 10px;
    padding: 1%;
    text-align: center;
}
