body{
    background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/01389d3a-71fa-45a7-826e-557bceda2d66/dlonfv5-9ce5db1a-ca1a-4f4e-a21c-058f803a6d66.png/v1/fill/w_1032,h_774,q_70,strp/claw_arcade_by_en_to_dlonfv5-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTUwMCIsInBhdGgiOiIvZi8wMTM4OWQzYS03MWZhLTQ1YTctODI2ZS01NTdiY2VkYTJkNjYvZGxvbmZ2NS05Y2U1ZGIxYS1jYTFhLTRmNGUtYTIxYy0wNThmODAzYTZkNjYucG5nIiwid2lkdGgiOiI8PTIwMDAifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.e8NIWZiLQoTCWuc6P8-CJ1CcuXEZFFqhU0-Z1FcIc8w");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    overflow: 100px;
}


#hi{
    border: solid;
    border-radius: 10px;
    margin: 2.5%;
    outline-offset: 0.5rem;
    text-align: start;
    font-family: Bookman, URW Bookman L, serif;
    padding: 1%;
    z-index: 9;
    transition: none;
    position: absolute;    
    margin: 0;  
    background-color: rgba(224, 19, 255, 0.25);
    top: 200px;
    left: 480px;
}

#hiheader{
  padding: 10px;
  cursor: move;
  z-index: 10;
}

.up{
    outline: 0.5rem solid rgb(202, 147, 220);
    box-shadow: 0 0 0 1.3rem rgb(150, 188, 236);
    background-color: #dca3ff;
    background-color: rgba(81, 0, 196, 0.25); color: #fff;
    border-radius: 10px;
    margin: 2.5%;
    outline-offset: 0.5rem;
    text-align: start;
    font-family: Bookman, URW Bookman L, serif;
    padding: 1%;
    align-items: center;
}

.closebutton{
    width: 50px;
    height: 20px;
    background-color: #9f42f0;
    border-radius: 20px;
    border: solid 5px rgba(119, 19, 190, 0.25);
    text-align: center;
}

#hiopen{
    margin-left: 2.5%;
    text-align: left;
}

#notes{
    border: solid;
    border-radius: 10px;
    outline-offset: 0.5rem;
    text-align: center;
    font-family: Bookman, URW Bookman L, serif;
    padding: 1%;
    background-color: rgba(23, 19, 255, 0.25);
    width: 300px;
}

#container{
    background: white;
    padding: 20px;
    margin-top: 60px;
    border-radius: 15px;
    box-shadow: 0 4px 15px black(0, 0, 0, 0.2);
    width: 85%;
    max-width: 400px;
    text-align: center;
}

#text{
    width: 280px;
    height: 45px;
    border-radius: 10px;
    border: 2.5px solid rgb(0, 0, 0);
    background-color: #aa75cb;
    resize: none;
    outline: none;
    font-size: 15px;
    color: black;
}

#text::placeholder{
    color: black;
}

#button button{
    margin-top: 10px;
    padding: 10px 15px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 10px;
    background-color: #813aad;
    transition: 0.3s;
    border: none;
    font-family: Bookman, URW Bookman L, serif;
    font-size: 15px;
}

#list{
    margin-top: 15px;
    max-height: 200px;
    overflow-y: auto;
}

#writeheader{
  padding: 10px;
  cursor: move;
  z-index: 10;
}

#write{
    position: absolute;
    top: 190px;
    left: 550px;
    border-radius: 10px;
    padding: 1%;
    z-index: 9;
    display: none;
}

.closebutton2{
    width: 50px;
    height: 20px;
    background-color: #8a36d2;
    border-radius: 20px;
    border: solid 5px rgba(119, 19, 190, 0.25);
    text-align: center;
    
}

#writeopen{
    margin-left: 25px;
}

.delete{
    color: black;
    background-color: #813aad;
    padding: 5px 8px;
    border-radius: 6px;
}

#drawopen{
    height: 70px;
    position: absolute;
    top: 480px;
    left: 18px;
    border-radius: 10px;
    padding: 1%;
    text-align: center;
}

#board{
    border: 1px solid blueviolet;
    background-color: beige;
    cursor: crosshair;
}

#tools{
    margin: 10px;
    top: 5px;
}

#drawthingy{
    background-color: rgba(224, 19, 255, 0.25);
    height: 600px;
    width: 500px;
    align-items: center;
    text-align: center;
    border: solid;
    border-radius: 10px;
    position: absolute;
    top: 200px;
    left: 480px;
    border-radius: 10px;
    padding: 1%;
    z-index: 9;
    display: none;
}

#drawheader{
  padding: 10px;
  cursor: move;
  z-index: 10;
}


.closebutton3{
    width: 50px;
    height: 20px;
    background-color: #8a36d2;
    border-radius: 20px;
    border: solid 5px rgba(119, 19, 190, 0.25);
    text-align: center;
    
}

.controls button{
    margin-top: 5px;
    padding: 5px 15px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 10px;
    background-color: #813aad;
    transition: 0.3s;
    border: none;
    font-family: Bookman, URW Bookman L, serif;
    font-size: 15px;
}

#musicthingy{
    border: solid;
    border-radius: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgba(23, 19, 255, 0.25);
    height: auto;
    width: 280px;
    align-items: center;
    text-align: center;
    border-radius: 20px;
    position: absolute;
    top: 200px;
    left: 480px;
    padding: 1% 1% 20px 1%;   
    z-index: 9;
    display: none;
}

#progressbar{
    border: solid;
    margin: 5px;
    height: 10px;
}

#progress{
    height: 100%;
    width: 0%;
    background-color: rgb(148, 43, 124);
}

#murkrow{
    height: 80px;
    position: absolute;
    top: 178px;
    left: 166px;
    border-radius: 10px;
    padding: 1%;
    text-align: center;
}

.closebutton4{
    width: 50px;
    height: 20px;
    background-color: #8a36d2;
    border-radius: 20px;
    border: solid 5px rgba(119, 19, 190, 0.25);
    text-align: center;
}

#musicheader{
  cursor: move;
  z-index: 10;
}

.volume{
    input[type=range]{
        display: none;
    }
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: row;

    .icon{
        font-size: 2rem;
    }

    .bar-box{
        user-select: none;
        touch-action: none;
        padding: 10px 15px;
        opacity: 0.7;
        transition: opacity .2s;
        cursor: pointer;
    }

    .bar-box:hover{
        opacity: 1.2;
    }
    
    .bar{
    background-color: gray;
    height: 10px;
    width: 120px;
    border-radius: 15px;
    overflow: hidden;
    pointer-events: none;
    }

    .bar-fill{
        background-color: white;
        width: 0%;
        height: 100%;
        background-clip: border-box;
        pointer-events: none;
    }
}

#cookiethingy{
    position: absolute;
    top: 200px;
    left: 480px;
    background-color: rgba(224, 19, 255, 0.25);
    border: solid;
    border-radius: 10px;
    width: 400px;
    height: 315px;
    padding: 20px;
    display: none;
}
.base{
    font-family:'Times New Roman', Times, serif;
    text-align: center;
    align-items: center;
}

#cookieopen{
    margin-top: 10px;
    padding: 10px 15px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 10px;
    background-color: #813aad;
    transition: 0.3s;
    border: none;
    font-family: Bookman, URW Bookman L, serif;
    font-size: 15px;
}

#maomao{
    height: 80px;
    position: absolute;
    top: 339px;
    left: 140px;
    border-radius: 10px;
    padding: 1%;
    text-align: center;
}

#meow{
    align-items: center;
    display: none;
}

#clawopen{
    position: absolute;
    top: 514px;
    left: 140px;
    border-radius: 10px;
    padding: 1%;
    text-align: center;
}

#wholeclawmachine{
    position: absolute;
    top: 200px;
    left: 480px;
    background-color: rgba(224, 19, 255, 0.25);
    border: solid;
    border-radius: 10px;
    width: 400px;
    height: 315px;
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.pix,
.pix::before,
.pix::after{
    width: calc(var(--w) *  var(--m));
    height: calc(var(--m) * var(--m));
    image-rendering: pixelated;
    background-size: (var(--m) * var(--m)) ;
}

.pix::before,
.pix::after{
    position: absolute;
    content: '';
}

.clawmachine{
    display: flex;
    flex-direction: column;
    border: 2px solid var(--brown);
    overflow: hidden;
}

.collectionbox{
    --h: 32px;
    width: calc(var(--m) * var(--machine-width));
    margin: calc(var(--m) * var(--h) * -1 - 10px) 0 24px;
    display: flex;
    align-items: bottom;
    justify-content: start;
}

.collectionbox .toy-wrapper{
    position: relative;
    width: calc(100% / 6);
    display: flex;
    align-items: end;
    justify-content: center;
}

.collectionbox .toy-wrapper .toy::after{
    top: auto;
    bottom: 0;
}

.toy-wrapper .squeeze-in{
    width: 0;
    animation: squeeze-in forwards 0.4s;
    animation-delay: 1.4s;
}

@keyframes squeeze-in {
  0% {
    width: 0;
  }
  100% {
    width: calc(100% / 6);
  }
}

@keyframes show-toy-2 {
  0% {
    opacity: 0;
    transform: translateY(-100vh);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.toy-wrapper .toy{
    opacity: 0;
    transform: translateY(-100vh);
    animation: forwards show-toy-2 0.8s;
    animation-delay: 1s;
}

.claw-machine.show-overlay::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: var(--machine-color);
  opacity: 0.6;
  z-index: 6;
  pointer-events: none;
}

.box {
  position: relative;
  background-color: #7fcfed;
  --w: var(--machine-width);
  --h: 180px;
}

.box::before {
  background-color: var(--brown);
  top: calc(70px * var(--m));
  width: 100%;
  height: calc(var(--m) * 8px);
  z-index: 5;
}

.box::after {
  background-color: var(--machine-color);
  top: calc(70px * var(--m));
  right: 0px;
  width: calc(var(--m) * 8px);
  height: calc(var(--m) * 170px);
  z-index: 2;
}

.topmachine,
.bottommachine{
    position: absolute;
    width: 100%;
    --h: 70px;
    height: calc(var(--h) * var(--m));
}

.topmachine{
    top: 0;
    display: flex;
    align-items: center;
    z-index: 1;
}

.topmachine::after{
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #dca3ff;
}

.bottommachine{
    bottom: 0;
    background-color: #8a36d2;
}

.collectionpoint{
    position: absolute;
    bottom: 0;
    background-image: url( );
    --w: 44px;
    --h: 24px;
    z-index: 0;
}

.horizontalrail {
  --h: 5px;
  width: 100%;
  background-color: #fff;
  border-width: 2px 0;
}

.verticalrail {
  position: absolute;
  --h: 70px;
  --w: 5px;
  background-color: #fff;
  border-width: 0 2px;
}

.armjoint {
  position: absolute;
  top: 0;
  left: 0;
  --w: 5px;
  --h: 5px;
  transition: 0.3s;
  z-index: -1;
}

.armjoint::after {
  position: absolute;
  border: solid var(--blue) 2px;
  background-color: #fff;
  --w: 10px;
  --h: 10px;
  top: calc(var(--m) * var(--h) * -0.25);
  left: calc(var(--m) * var(--w) * -0.25);
}

.arm::after{
    position: absolute;
    --w: 13px;
    --h: 7px;
    bottom: calc(var(--m) * -1px);
    left: calc(var(--m) * -3px);
    background-image: url( );
}

.arm.missed::after{
    background-image: url();
}

.control{
    position: relative;
    --h: 60px;
    width: 100%;
    text-align: right;
    background-color: var(--dark-blue);
}

.cover{
    position: absolute;
    background-color: var(--machine-color);
    --top-size: calc(var(--m) * 20px);
    --bottom-size: calc(var(--m) * 10px);
    z-index: 4;
}

.collectionarrow{
    position: absolute;
    left: calc(var(--m) * 21px);
    top: calc(var(--m) * 9px);
    --w: 8px;
    --h: 4px;
    background-image: url();
    filter: sepia(1) brightness(0.5);
}

.bottom{
    bottom: 0;
    width: 100%;
    height: calc(var(--m) * 170px);
    width: calc(var(--m) * 8px);
}

.left{
    top: 0;
    right: 0%;
    height: 100px;
    width: calc(var(--m) * 116px);
}

.right{
    top: 0;
    right: 0px;
    height: 100%;
    width: calc(var(--m) * 116px);
}

.instruction{
    position: absolute;
    --w: 51px;
    --h: 12px;
    background-image: url();
    top: calc(var(--m) * 34px);
    right: calc(var(--m) * 11px);
}

.arm{
    position: absolute;
    --w: 7px;
    --h: 28px;
    background-color: #fff;
    box-shadow: 0 0 0 2px var(--blue);
    transition: 0.3s;
    margin-top: calc(var(--m) * -1px);
    margin-left: calc(var(--m) * -1px);
}

.claws {
  position: absolute;
  --w: 3px;
  --h: 10px;
  bottom: calc(var(--m) * -5px);
  left: calc(var(--m) * 2.5px);
}

.claws::before,
.claws::after {
  top: 0;
  --w: 10px;
  --h: 16px;
  transition: 0.2s;
}

#duck{
    position: absolute;
    top: 145px;
    left: 300px;
    border-radius: 10px;
    padding: 1%;
    text-align: center;
}

#game{
    position: absolute;
    top: 200px;
    left: 180px;
    background-color: rgba(8, 174, 240, 0.25);
    border: solid;
    border-radius: 10px;
    width:auto;
    height: 315px;
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center; 
}

#pato{
    background-image: url(spaces.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    background-attachment: contain;
    width: 900px;
    height: 650px;
    font-family: 'Games', sans-serif;
}

#score{
    font-size: 30px;
    color: white;
    padding: 2%;
}

#hunt{
    padding: 2%;
    color: white;
}