body{
    background-image: url(claw\ arcade.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}


#hi{
    border: solid;
    border-radius: 10px;
    margin: 2.5%;
    outline-offset: 0.5rem;
    text-align: start;
    font-family: Bookman, URW Bookman L, serif;
    padding: 1%;
    z-index: 9;
    transition: none;
    position: absolute;
    top: 170px;
    left: 25px;      
    margin: 0;  
    background-color: rgba(224, 19, 255, 0.25);
}

#hiheader{
  padding: 10px;
  cursor: move;
  z-index: 10;
}

.up{
    outline: 0.5rem solid rgb(202, 147, 220);
    box-shadow: 0 0 0 1.3rem rgb(150, 188, 236);
    background-color: #dca3ff;
    background-color: rgba(81, 0, 196, 0.25); color: #fff;
    border-radius: 10px;
    margin: 2.5%;
    outline-offset: 0.5rem;
    text-align: start;
    font-family: Bookman, URW Bookman L, serif;
    padding: 1%;
    align-items: center;
}

.closebutton{
    width: 50px;
    height: 20px;
    background-color: #9f42f0;
    border-radius: 20px;
    border: solid 5px rgba(119, 19, 190, 0.25);
    text-align: center;
}

#hiopen{
    margin-left: 2.5%;
    text-align: left;
}

#desktopApps{
    padding-top: 2.5%;
}